.notfound {
  color: #0f0f11;

  &__error {
    display: flex;
    align-items: end;
    font-size: 70px;
    line-height: 1.08;
  }

  &__pageParagraph {
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
  }

  &__backPage {
    margin-top: 50px;
  }

  &__backParagraph {
    font-size: 17px;
    line-height: 26px;
  }

  &__back {
    text-transform: uppercase;
    text-decoration: underline;
    color: #0f0f11;

    &:hover {
      color: #89939a;
    }
  }
}
